The general environment setup

Importing libraries

In [165]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv #to convert to csv files

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/incubyte/datahosp.txt

**In this code an example file 'datahosp.txt' is created in the format as specified with details of 5 patients and is added as test data.
 In the first cell below the file read and converted into list.
Each line is seperated using split function and the new list contains each line seperated by commas as an element.**

In [166]:
df = open('../input/incubyte/datahosp.txt', "r")
lines=df.read()
lines=list(lines.split('\n'))
d=[]
for i in lines:
    line=i.split('|')
    d.append(line)
for i in range(len(d)):
    del d[i][0]
print(d)
df.close()

[['H', 'Customer_Name', 'Customer_Id', 'Open_Date', 'Last_Consulted_Date', 'Vaccination_Id', 'Dr_Name', 'State', 'Country', 'DOB', 'Is_Active'], ['D', 'Alex', '123457', '20101012', '20121013', 'MVD', 'Paul', 'SA', 'USA', '06031987', 'A'], ['D', 'John', '123458', '20101012', '20121013', 'MVD', 'Paul', 'TN', 'IND', '06031987', 'A'], ['D', 'Mathew', '123459', '20101012', '20121013', 'MVD', 'Paul', 'WAS', 'PHIL', '06031987', 'A'], ['D', 'Matt', '12345', '20101012', '20121013', 'MVD', 'Paul', 'BOS', 'NYC', '06031987', 'A'], ['D', 'Jacob', '1256', '20101012', '20121013', 'MVD', 'Paul', 'VIC', 'AU', '06031987', 'A']]

**The above data is converted into a csv file by creating a new csv file in write mode as shown below:**

In [167]:
with open('protagonist.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(d)
meta=pd.read_csv('protagonist.csv')
meta.head()

,H,Customer_Name,Customer_Id,Open_Date,Last_Consulted_Date,Vaccination_Id,Dr_Name,State,Country,DOB,Is_Active
0,D,Alex,123457,20101012,20121013,MVD,Paul,SA,USA,6031987,A
1,D,John,123458,20101012,20121013,MVD,Paul,TN,IND,6031987,A
2,D,Mathew,123459,20101012,20121013,MVD,Paul,WAS,PHIL,6031987,A
3,D,Matt,12345,20101012,20121013,MVD,Paul,BOS,NYC,6031987,A
4,D,Jacob,1256,20101012,20121013,MVD,Paul,VIC,AU,6031987,A

**To sort according to countries we use below code to get list of countries to use in queries:**

In [168]:
index=meta['Country'].unique()
f=dict(enumerate(index))
print(f)

{0: 'USA', 1: 'IND', 2: 'PHIL', 3: 'NYC', 4: 'AU'}

**To create seperate tables for each country we can use below conditions.Two tables are created as examples:**

In [169]:
TableINDIA=meta[meta['Country']==index[1]]
TableUSA=meta[meta['Country']==index[0]]
print(TableUSA)
print(TableINDIA)

   H Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date  \
0  D          Alex       123457   20101012             20121013

  Vaccination_Id Dr_Name State Country      DOB Is_Active
0            MVD    Paul    SA     USA  6031987         A
   H Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date  \
1  D          John       123458   20101012             20121013

  Vaccination_Id Dr_Name State Country      DOB Is_Active
1            MVD    Paul    TN     IND  6031987         A

**We can also filter data by generating queries.For example below code is example of query used to get data using patient name:**

In [170]:
print(meta.query('Customer_Name=="Alex"'))

   H Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date  \
0  D          Alex       123457   20101012             20121013

  Vaccination_Id Dr_Name State Country      DOB Is_Active
0            MVD    Paul    SA     USA  6031987         A